/** @format */

html,
body {
  margin: 0;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.registeration-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.registeration-section {
  box-shadow: 4px 4px 4px silver;
  min-height: 450px;
  display: flex;
}

.image-container {
  width: 300px;
}
.personal-image-container {
  background: url('../../../Assets/img/user-registeration.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f43b86;
}
.client-image-container {
  background: url('../../../Assets/img/client-registeration.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: skyblue;
}
.field-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
}
.field-container > * {
  border: 1px solid white;
}
.form-title {
  font-weight: 500;
  font-size: 24px;
  margin: 8px 0px;
  color: gray;
}
.form-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}

.inputs-wrapper {
  margin-top: 16px;
}
.organisation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.organisation-wrapper > article {
  display: flex;
  gap: 16px;
}
.left-input-box,
.middle-input-box,
.right-input-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}
.input-box,
select {
  height: 40px;
  min-width: 230px;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--input-background);
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
.input-box::placeholder {
  font-size: 14px;
  font-family: Inter;
}
.input-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.password-show-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 12px;
  color: gray;
}
.password-show-btn:hover {
  color: black;
}
.text-area {
  resize: none;
  height: 60px;
}
.chips-wrapper {
  margin: 8px 0px;
  display: flex;
  max-width: 230px;
  flex-wrap: wrap;
  gap: 4px;
}
.multi-select-wrapper {
  border: 1px dashed silver;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

#customDomainBtnWrapper {
  margin-top: 8px;
  font-size: 12px;
  color: var(--subtitle-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.customDomainInput {
  display: none;
}

.customBtnWrapper {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.chip {
  background-color: #8de88d;
  font-size: 12px;
  padding: 4px 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  text-wrap: nowrap;

  position: relative;
}
.chip::after {
  content: 'Remove';
  height: 14px;
  position: absolute;
  text-align: center;
  background-color: silver;
  border-radius: 2px;
  z-index: 4000;
  bottom: -16px;
  width: 100%;
  visibility: hidden;
}
.chip:hover::after {
  visibility: visible;
}
#DomainSelectMsg {
  background-color: #c6ebc5;
}

.domainFileTable {
  display: none;
  flex-direction: column;

  max-width: 300px;
  max-height: 120px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.common-row {
  display: flex;
  justify-content: space-around;
  background-color: #e8e8e8;
  margin-bottom: 8px;
  box-shadow: 0px 0px 2px gray;
  font-weight: 500;
  font-size: 14px;
}

.table-row {
  margin-top: 8x;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.table-row > :first-child {
  font-weight: 400;
  padding: 2px;
  border-radius: 4px;
}
.table-row > :nth-child(2) {
  font-weight: 300;
  padding-left: 12px;
}

a {
  text-decoration: none;
}
