/** @format */

/* below lines are necessory in mui, removes bug */
:root {
  --primary-color: #008ffb;
  --secondary-color: #feb019;
  --input-background: #f1f1f1;
  --subtitle-color: silver;
  --btn-shadow: 3px 3px 5px silver;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
